<header class="p-3 text-bg-dark2">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
      
      <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
        <li><a href="#" class="nav-link px-2 text-secondary">Home</a></li>
        <li><a href="#" class="nav-link px-2 text-white">Stories</a></li>
        <li><a href="#" class="nav-link px-2 text-white">About Us</a></li>
      </ul>

      <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
        <input type="search" class="form-control form-control-dark text-bg-dark2" placeholder="Search from the page..." aria-label="Search">
      </form>

      <div class="text-end">
        <button type="button" class="btn btn-outline-light me-2">Login</button>
        <button type="button" class="btn sign-button">Sign-up</button>
      </div>
    </div>
  </div>
</header>
<h1>Once Upon A Time...</h1>
<div class="container px-4 pyo-5" id="custom-cards">
 <!-- <h2 class="pb-2 border-bottom">Choose your story</h2>-->

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pyo-5">
    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Alice in Wonderland</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>Wonderland</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>165 pages</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Peter Pan and Lost Boys</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>Neverland</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>251 pages</small>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
        <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Ugly Duckling</h3>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto">
              
            </li>
            <li class="d-flex align-items-center me-3">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
              <small>Denmark</small>
            </li>
            <li class="d-flex align-items-center">
              <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
              <small>220 pages</small>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container px-4 pyo-5" id="custom-cards">
  <!-- <h2 class="pb-2 border-bottom">Choose your story</h2>-->
 
   <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pyo-5">
     <div class="col">
       <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
           <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Beauty and the Beast</h3>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
               <small>France</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
               <small>125 pages</small>
             </li>
           </ul>
         </div>
       </div>
     </div>
 
     <div class="col">
       <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
           <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Little Red Ridding Hood</h3>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
               <small>German</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
               <small>111 pages</small>
             </li>
           </ul>
         </div>
       </div>
     </div>
 
     <div class="col">
       <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
           <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Cinderella</h3>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
               <small>German</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
               <small>324 pages</small>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
 <div class="container px-4 pyo-5" id="custom-cards">
  <!-- <h2 class="pb-2 border-bottom">Choose your story</h2>-->
 
   <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 pyo-5">
     <div class="col">
       <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
           <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Little Mermaid</h3>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
               <small>Denmark</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
               <small>189 pages</small>
             </li>
           </ul>
         </div>
       </div>
     </div>
 
     <div class="col">
       <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
           <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Jungle Book</h3>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
               <small>England</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
               <small>317 pages</small>
             </li>
           </ul>
         </div>
       </div>
     </div>
 
     <div class="col">
       <div class="card card-cover h-100 overflow-hidden text-bg-dark2 rounded-4 shadow-lg">
         <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
           <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">The Lion, the Witch and the Wardrobe</h3>
           <ul class="d-flex list-unstyled mt-auto">
             <li class="me-auto">
               
             </li>
             <li class="d-flex align-items-center me-3">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"></use></svg>
               <small>England</small>
             </li>
             <li class="d-flex align-items-center">
               <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"></use></svg>
               <small>425 pages</small>
             </li>
           </ul>
         </div>
       </div>
     </div>
   </div>
 </div>
<div class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"></use></svg>
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2022 Company, Inc</span>
    </div>

    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-twitter"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="ms-3"><a class="text-muted" href="#"><i class="fa-brands fa-facebook"></i></a></li>
    </ul>
  </footer>
</div>